<html>
	<head>
		<title>Employee Dashboard</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body bgcolor="#007099">
		<div class="topnav">
			<div class="topnav-left">Dashboard</div>
			<a href="create_store.html">Create Store</a>
			<a href="show_stores.html">Show Stores</a>
			<a href="stock_item.html">Stock Item</a>
			<a href="trash_item.html">Trash Item</a>
			<a href="new_item.html">Create Item</a>
			<a href="view_analytics.html">View Analytics</a>
			<a class="topnav-right" href="logout.html">Logout</a>
			<div class="topnav-right">Hello, {{data['name']}} (position: {{data['position']}})</div>
		</div>
		<p style="color:ivory"> {{ data['message'] }} </p>
		<form class="floating">
			<label for="total"><b>Please start your work by selecting one of the jobs above :-)</b></label>
			<br><br>
		</form>
	</body>
</html>
