<html>
	<head>
		<title>Create Store</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		
      <p> Hello. You are logged in as employee: {{data['name']}}, {{data['position']}} </p>

      New store
      <form action="/create_store.html" method="post">
	Name:<input type="text" name="store_name"> <br>
	Address:<input type="text" name="address"> <br>
	City:<input type="text" name="city"> <br>
	State:<input type="text" name="state"> <br>
	<button type="submit">Create</button>
      </form>
      
      <form action="/logout.html" method="post">
	<button type="submit">Logout</button>
      </form>
      
      {#<!--
        <p>Welcome to Big Jungle, an online store that just sells books.</p>
        <p>Here is a list of the books you can buy:</p>

	<form action="." method="post">
        {% if template_data['books']|length == 0 %}
        <p style="color: red;">All books are sold out!</p>
        {% else %}
        <ul>
            {% for book in template_data['books'] %}
            <li>
                {{ book[1] }}
                <button name="buy-book" value="{{book[0]}}">buy</button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        </form>
	-->
      #}
    </body>
</html>
