<html>
    <head>
        <title>Store {{ data['store_info'][0] }}</title>
    </head>
    <body>
      <p> {{data['message']}} </p>
      <p> Hello. You are logged in as employee: {{data['name']}}, {{data['position']}} </p>

      Store information:
      <ul style="list-style: none">
	{% for val in data['store_info'] %}
	<li>
	  {{ val }}
	</li>
	{% endfor %}
      </ul>

      Revenue to date: ${{ data['revenue'] }} <br> <br>
      
      {% if data['item_list']|length == 0 %}
      <p> No items to show. </p>

      {% else %}
      <ul>
	{% for tuple in data['item_list'] %}
	<li style="list-style: none">
	  {{ tuple[0] }} store stock: {{ tuple[1] }} price: {{ tuple[2] }}
	</li>
	{% endfor %}
      </ul>
      {% endif %}
      
      <form action="/show_stores.html" method="post">
	<button type="submit">Show stores</button>
      </form>
      
      <form action="/employee_dashboard.html" method="post">
	<button type="submit">Return dashboard</button>
      </form>
      
      <form action="/logout.html" method="post">
	<button type="submit">Logout</button>
      </form>
      
      {#<!--
        <p>Welcome to Big Jungle, an online store that just sells books.</p>
        <p>Here is a list of the books you can buy:</p>

	<form action="." method="post">
        {% if template_data['books']|length == 0 %}
        <p style="color: red;">All books are sold out!</p>
        {% else %}
        <ul>
            {% for book in template_data['books'] %}
            <li>
                {{ book[1] }}
                <button name="buy-book" value="{{book[0]}}">buy</button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        </form>
	-->
      #}
    </body>
</html>
